body {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 1.5rem;
}

.header {
  font-family: inherit !important;
}

.topic-item {
  margin-left: auto !important;
  padding-bottom: 0px !important;
}

.topic-item-header {
  padding-left: 40px !important;
  font-family: inherit !important;
}

.topic-title {
  margin-right: auto !important;
  padding-bottom: 0px !important;
}

.topic-title-header {
  padding-right: 40px !important;
  font-family: inherit !important;
}
