body {
  font-family: 'Courier New', Courier, monospace !important;
}

.header {
  font-family: inherit !important;
}

.topic {
  margin-left: auto !important;
  padding-bottom: 0px !important;
}

.topic-header {
  padding-left: 40px !important;
  font-family: inherit !important;
}