body {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 1.5rem;
}

.logo {
  padding-top: 20px;
}

.nav {
  height: 4rem;
}

.divider {
  margin: 0px 5px !important;
}

.header {
  font-family: inherit !important;
}

.main {
  margin-top: 20px;
}

.topic-item:hover {
  cursor: pointer;
}

.topic-item {
  margin-left: auto !important;
  padding-bottom: 0px !important;
}

.topic-item-header {
  padding-left: 40px !important;
  font-family: inherit !important;
}

.topic-title {
  margin-right: auto !important;
  padding-bottom: 0px !important;
}

.topic-title-header {
  padding-right: 40px !important;
  font-family: inherit !important;
}

.breadcrumbs {
  font-size: 1.4rem !important;
}